* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

h3.projetos {
    margin-bottom: 10px;
}

h1, h2, h3.skills, section {
    margin: 0px 0px 25px 0px;
}

h1 {
    margin-bottom: 50px;
    line-height: 40px;
}

ul {
    margin-left: 15px;
}

img {
    width: 30px;
    position: relative;
    float: right;
    cursor: pointer;
}

.flex-list {
    display: flex;
}

.column-list {
    flex: 1;
}

.flex-container {
    display: flex;
    height: 100%;
}

.light #left-column {
    background-color: #002659;
}

.dark #left-column {
    background-color: #1c254d;
}

#left-column {
    padding: 30px;
    flex: 0.3;
    color: #fff;
}

#left-column a {
    color: #fff;
}

.light #left-column h2 {
    background-color: #0030ad;
}

.dark #left-column h2 {
    background-color: #03173b;
}

#left-column h2 {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

#right-column {
    padding: 30px;
    flex: 0.7;
}

.light #right-column {
    background-color: #fff;
    color: #000;
}

.dark #right-column {
    background-color: #2e2e2e;
    color: #fff;
}

.light #right-column a {
    color: #000;
}

.dark #right-column a {
    color: #fff;
}

.light #right-column h2 {
    color: #002659;
}

.dark #right-column h2 {
    color: #3f86e4;
}

#right-column p, ul {
    text-align: justify;
}

#moon {
    display: none;
}

@media (max-width: 900px) {
    h1 {
        color: #002659;
    }
    
    .flex-container {
        display: block;
    }

    .light #left-column {
        background-color: #fff;
        color: #000;
    }

    .dark #left-column {
        background-color: #2e2e2e;
        color: #fff;
    }

    #left-column {
        padding-bottom: 0px;
    }

    .light #left-column a {
        color: #000;
    }

    .dark #left-column a {
        color: #fff;
    }

    .light #left-column h2 {
        background-color: #fff;
        color: #002659;
    }

    .dark #left-column h2 {
        background-color: #2e2e2e;
        color: #fff;
    }

    #left-column h2 {
        padding: 0px;
        text-align: start;
    }

    #right-column {
        padding-top: 0px;
    }
}